{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section class="hero-wrap hero-wrap-2" style="background-image: url('{%static 'images/justice-and-law-concept-male-judge-in-a-courtroom-on-wooden-table-and-counselor-or-male-lawyer-working-in-office-legal-law-advice-and-justice-concept-free-video.webp'%}');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>

		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate mb-5 text-center">
					<p class="breadcrumbs mb-0">
						<span class="mr-2"><a href="index.html" data-i18n="home">Home </a> </span>

						<i class="fa fa-chevron-left"></i> <span data-i18n="aboutUs"> About Us</span>
					</p>
					<h1 class="mb-0 bread" data-i18n="about">About Us</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
		  <div class="row no-gutters">
			<div class="col-lg-6 d-flex align-items-stretch">
			  <div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="
					background-image: url('{%static 'images/53135be6-94d6-4a5a-85d3-f3be18e89bb5.webp'%}'); position: relative;"></div>
			</div>
			<div class="col-lg-6 wrap-about ftco-animate">
			  <div class="bg-light px-3 px-md-5 py-5">
				<div class="heading-section">
				  <span class="subheading" data-i18n="welcome"> Welcome to el juhany Law Firm</span>
				  <h2 class="mb-3" data-i18n="whyTrustUs">
					Why to Put Your Trust In
				  </h2>
				  <h1 class="mb-3 eljuhany" data-i18n="eljuhany">El Juhany Law Firm</h1>
	
				  <p data-i18n="description1" title="Al-Juhani Foundation is an institution and a prestigious legal entity founded by lawyer Ahmed Fouad Al-Juhani...">
					Al-Juhani Foundation is an institution and a prestigious legal entity founded by lawyer Ahmed Fouad Al-Juhani 
					Al-Juhani Lawyers Foundation aims to provide distinguished legal services. In many legal and economic aspects that characterized the institution through a distinguished team and great experience in the specializations that the institution specializes in, the institution has been characterized by technical performance in dealing with legal topics and extreme excellence in the sciences of strategic management of international and local issues, 
					   , It also represents clients on their behalf in commercial cases and transactions and all matters related to them, as well as providing all legal advice.
					    One of the distinguished competencies of the institution is to provide legal, judicial and administrative logistical support to institutions, companies and economic legal groups, as well as financial, economic, commercial, civil and criminal issues. 
					    As well as the specialization of the office in the settlement of various disputes through negotiation, amicable settlement and arbitration through the Al-Juhani Center for Dispute Resolution and Arbitration
	
				  </p>
				</div>
	

			  </div>
			</div>
		  </div>
		</div>
	  </section>

	  <section class="ftco-counter why-choose-us text-white ftco-section mt-5 img" id="section-counter">
		<div class="overlay-ftco-section"></div>
		<div class="container text-white">
		  <div class="row justify-content-center pb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
			  <h2 class="mb-4 text-white" data-i18n="distinguishes">
				What distinguishes us from others
			  </h2>
			  <span class="subheading" data-i18n="subheading1">THEY ARE HIGHLY PROFESSIONAL EXPERTS IN COMPANY FORMATION AND LABOR ISSUES IN ALL LOCAL AND INTERNATIONAL ISSUES AND ALL COMPLEX ISSUES FROM A TECHNICAL STANDPOINT
			</span>
			</div>
		  </div>
	
		  <div class="row">
			<div class="col-12 mb-3 col-lg-6 align-items-start d-flex counter-wrap ftco-animate">
			  <div class="col-6">
				<div class="block-18 py-4 w-100 mb-4">
				  <span class="icon flaticon-checklist"></span>
				  <div class="text align-items-center">
					<strong class="number" data-number="3000">0</strong>
					<span data-i18n="trustedClients">Trusted Clients</span>
				  </div>
				</div>
				<div class="block-18 py-4 w-100">
				  <span class="icon flaticon-checklist"></span>
				  <div class="text align-items-center">
					<strong class="number" data-number="5000">0</strong>
					<span data-i18n="awards">Contract </span>
				  </div>
				</div>
			  </div>
			  <div class="col-6">
				<div class="block-18 py-4 w-100 mb-4">
				  <span class="icon flaticon-checklist"></span>
				  <div class="text align-items-center">
					<strong class="number" data-number="8000">0</strong>
					<span data-i18n="trustedClients2">Successful Cases</span>
				  </div>
				</div>
				<div class="block-18 py-4 w-100">
				  <span class="icon flaticon-checklist"></span>
				  <div class="text align-items-center">
					<strong class="number" data-number="27">0</strong>
					<span data-i18n="awards2">Year</span>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-12 col-lg-6 d-flex flex-wrap counter-wrap ftco-animate">
			  <div class="col-12">
				<div class="about-us-content mb-4">
				  <h3 class="text-white" data-i18n="distinguishesHeading1">
					Improving standards
				  </h3>
				  <p data-i18n="distinguishespara1">
					Continue to improve the standards of attorney service and maintain the level of specialization,
					expertise and experience among the Group's lawyers.
	
				  </p>
				</div>
			  </div>
			  <div class="col-12">
				<div class="about-us-content mb-4">
				  <h3 class="text-white" data-i18n="distinguishesHeading2">
					Distinguished and successful relationships
	
				  </h3>
				  <p data-i18n="distinguishespara2">
					Develop good and distinguished relationships with our clients and beneficiaries, and maintain them
					through all stages of their legal life.
	
				  </p>
				</div>
			  </div>
			  <div class="col-12">
				<div class="about-us-content mb-4">
				  <h3 class="text-white" data-i18n="distinguishesHeading3">
					Facing technical and legal challenges
				  </h3>
				  <p data-i18n="distinguishespara3">
					Develop the ability of legal expertise to face the latest technical challenges, kinetic attacks and
					others.
	
	
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>

	<section class="ftco-section testimony-section">
		<div class="img img-bg" style="background-image: url('{%static 'images/bg_4.webp'%}');"></div>
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading" data-i18n="Testimonial">Testimonial</span>
					<h2 class="mb-3" data-i18n="happyClients">Client Review</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl" dir="ltr">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4" data-i18n="testimonialHeading1">I am one of the clients of lawyer Ahmed Fouad Al-Juhany and I would like to share my experience with him. He handled my case efficiently and professionally and helped me get my rights quickly and without problems. I recommend dealing with it for those looking for an able and loyal lawyer. </p>
									<div class="d-flex align-items-center">
										<div class="user-img"
											style="background-image: url('{%static 'images/82614228.webp'%}')"></div>
										<div class="pl-3">
											<p class="name" data-i18n="testimonialPerson1">Youssef Ashraf</p>
											<span class="position" data-i18n="testimonialJob1">front end developer</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4" data-i18n="testimonialHeading2">I am one of the clients of lawyer Ahmed Fouad Al Juhany and I would like to share my experience with him. He dealt with my case efficiently and professionally, and was able to achieve the result I was hoping for. He has always been in touch with me and is familiar with the details of the case and I advise anyone looking for a capable and reliable lawyer to contact him.
									</p>
									<div class="d-flex align-items-center">
										<div class="user-img"
											style="background-image: url('{%static 'images/2d548658-7237-4295-a906-a0b84e02b0a6.webp'%}')"></div>
										<div class="pl-3">
											<p class="name" data-i18n="testimonialPerson2">bahaa el deen</p>
											<span class="position" data-i18n="testimonialJob2">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4" data-i18n="testimonialHeading3">I am one of the clients of lawyer Ahmed Fouad Al Juhany and I would like to share my experience with him. He handled my case efficiently and professionally, and was able to win me in court. He was always in touch with me and informed me of all the details and steps. I recommend dealing with it for those looking for an able and loyal lawyer..</p>
									<div class="d-flex align-items-center">
										<div class="user-img"
											style="background-image: url('{%static 'images/779e1543-c2e0-4248-b5e1-89f4b326c91c.webp'%}')"></div>
										<div class="pl-3">
											<p class="name" data-i18n="testimonialPerson3">mohamed hossam</p>
											<span class="position" data-i18n="testimonialJob3">accountant</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4" data-i18n="testimonialHeading4">I am one of the clients of lawyer Ahmed Fouad Al Juhany and I would like to share my experience with him. He dealt with my case efficiently and professionally and achieved the desired result for me. He was always in touch with me and privy to the details of the case and the legal procedures. I recommend dealing with it for those looking for an able and loyal lawyer. </p>
									<div class="d-flex align-items-center">
										<div class="user-img"
											style="background-image: url({%static 'images/c766be59-797d-41a0-9b0c-8a2e6edf4a45.webp'%})"></div>
										<div class="pl-3">
											<p class="name" data-i18n="testimonialPerson4">hussien shabaan </p>
											<span class="position" data-i18n="testimonialJob4">it engineer</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4" data-i18n="testimonialHeading5">I dealt with lawyer Ahmed Fouad Al Juhany in a complex case and he was dedicated and professional in his work. I recommend cooperating with him for those looking for an excellent and reliable lawyer. Thank you for your efforts and success in solving my case.</p>
									<div class="d-flex align-items-center">
										<div class="user-img"
											style="background-image: url({%static 'images/3e7383ca-b2a3-4227-88a4-44513c8cd0b2.webp'%})"></div>
										<div class="pl-3">
											<p class="name" data-i18n="testimonialPerson5">ahmed waleed</p>
											<span class="position" data-i18n="testimonialJob5"> sales manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% for feedback in feedbacks %}
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">{{ feedback.description }}</p>
									<div class="d-flex align-items-center">
										<div class="user-img"
											style="background-image: url({{ feedback.image.url }})"></div>
										<div class="pl-3">
											<p class="name">{{ feedback.name }}</p>
											<span class="position">{{ feedback.job }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-appointment ftco-section img" style="background-image: url('{%static 'images/bg_2.webp'%}')">
    <div class='sucess-overlay'></div>
    <div class="message-success">
      <div class="check">&#10004;</div>
      <p data-i18n="Success">Success</p>
      <p data-i18n="successful">
        Thanks For your Message. We'll see you soon!
      </p>
      <button id="ok" data-i18n="ok">OK</button>
    </div>
		<div class="overlay"></div>
		<div class="container">
		  <div class="row">
			<div class="col-12 col-lg-6 pr-md-5">
			  <div class="heading-section heading-section-white">
				<h2 class="mb-3" data-i18n="contactHeading">
					We Welcome All Your Questions
				</h2>
				<p data-i18n="contactp">
				  You can also contact us via the contact form on our website. We believe in the confidentiality and
				  reliability of all information we receive from you.
				  Be sure to provide all the required information in the contact form to ensure a response from us.
				</p>
				<div class="row mt-md-4">
				  <div class="col-lg-6">
					<div class="services d-flex w-100">
					  <div class="icon icon-2 d-flex align-items-center justify-content-center">
						<span class="flaticon-medal"></span>
					  </div>
					  <div class="text pl-3">
						<h2 data-i18n="contactSubHeading1">Certificate</h2>
						<p data-i18n="contactSubP1">
							He has obtained academic degrees in various specializations according to local law, as well as a variety of international death laws

						</p>
					  </div>
					</div>
				  </div>
				  <div class="col-lg-6">
					<div class="services d-flex w-100">
					  <div class="icon icon-2 d-flex align-items-center justify-content-center">
						<span class="flaticon-auction"></span>
					  </div>
					  <div class="text pl-3">
						<h2 data-i18n="contactSubHeading2">
						  27 Years Of Experience
						</h2>
						<p data-i18n="contactSubP2">
						  Providing the best lawyer strategy to enhance its ability to solve legal problems with the lowest
						  time and cost.
						</p>
					  </div>
					</div>
				  </div>
				  <div class="col-lg-12">
					<div class="services d-flex w-100">
					  <div class="icon icon-2 d-flex align-items-center justify-content-center">
						<span class="flaticon-lawyer"></span>
					  </div>
					  <div class="text pl-3">
						<h2 data-i18n="contactSubHeading3">
						  Best Attorneys Team
						</h2>
						<p data-i18n="contactSubP3">
						  We Have The Strongest Lawyers To Defend You And Provide Legal Protection For You And Your
						  Property.
						</p>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-12 col-lg-6 half ftco-animate">
			  <h2 class="mb-4" data-i18n="formHeading1">
				Submit Your Legal Problem
			  </h2>
			  <form method="POST" action="{% url 'contact_form' %}" class="appointment" id="targetForm">
				<div class="row">
				  <div class="col-md-6">
					<div class="form-group">
					  <input type="text" class="form-control input-Law" id="name-input" required data-i18n="name" placeholder="Your Name" name="name" />
					</div>
				  </div>
				  <div class="col-md-6">
					<div class="form-group"> 
					  <input type="text" class="form-control input-Law" id="email-input" required data-i18n="email" placeholder="Email" name="email" />
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="form-group">
					  <div class="form-field">
						<div class="select-wrap">
						  <div class="icon">
							<span class="fa fa-chevron-down"></span>
						  </div>
						  <select name="service" id="" class="form-control">
							<option value="مجالات الممارسه", data-i18n="lawServies1">
							  Practice Areas
							</option>
							<option value="تأسيس الشركات" data-i18n="lawServies2">
							  Incorporation of companies
							</option>
							<option value="التراخيص" data-i18n="lawServies3">
							  Licenses
							</option>
							<option value="تحصيل الديون" data-i18n="lawServies4">
							  Debt collection
							</option>
							<option value="الضرائب" data-i18n="lawServies5">
							  Taxes
							</option>
							<option value="عقود المقاولات والانشاءات" data-i18n="lawServies6">
							  Contracting & Construction Contracts
							</option>
							<option value="الملكية الفكرية" data-i18n="lawServies7">
							  Mergers & Acquisitions
							</option>
							<option value="عمليات الدمج والاستحواذ" data-i18n="lawServies66">
							  Intellectual Property
							</option>
							<option value="التقاضي" data-i18n="lawServies77">
							  Litigation
							</option>
							<option value="الترجمة القانونية" data-i18n="lawServies8">
							  Legal Translation
							</option>
							<option value="التحكيم التجاري الدولي" data-i18n="lawServies9">
							  International Commercial Arbitration
							</option>
							<option value="صياغة العقود" data-i18n="lawServies10">
							  Drafting contracts
							</option>
							<option value="حوكمة الشركات" data-i18n="lawServies11">
							  Corporate Governance
							</option>
							<option value="قطاع الطاقة" data-i18n="lawServies12">
							  Energy Sector
							</option>
							<option value="الخدمات العقارية" data-i18n="lawServies13">
							  Property services
							</option>
							<option value="التمويل المصرفي" data-i18n="lawServies14">
							  Banking Finance
							</option>
							<option value= "النزاعات العمالية" data-i18n="lawServies15">
							  Labor disputes
							</option>
							<option value="شؤون الأجانب والخدمات القنصلية" data-i18n="lawServies16">
							  Foreigners Affairs and Consular Services
							</option>
						  </select>
						</div>
					  </div>
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="form-group">
					  <textarea required name="message"  cols="30" rows="7" class="form-control" id="message-input" data-i18n="message"
						></textarea>
					</div>
				  </div>
				  <div class="col-md-12">
					<div class="form-group">
					  {% csrf_token %}
					  <input type="submit" id="submit-btn" data-i18n="send" class="btn btn-primary py-3 px-4 input-Law2" />
					</div>
				  </div>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </section>


{% endblock %}
