{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section
      class="hero-wrap hero-wrap-2"
      style="
        background-image: url('{%static 'images/justice-and-law-concept-male-judge-in-a-courtroom-on-wooden-table-and-counselor-or-male-lawyer-working-in-office-legal-law-advice-and-justice-concept-free-video.webp'%}');"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-end justify-content-center"
        >
          <div class="col-md-9 ftco-animate mb-5 text-center">
            <p class="breadcrumbs mb-0">
              <span class="mr-2"
                ><a href="{% url 'home' %}" data-i18n="home"
                  >Home </a
              >   </span>
             
              <i class="fa fa-chevron-left"></i> <span data-i18n="blog"
                > blog</span>
            </p>
            <h1 class="mb-0 bread" data-i18n="blogSectionHeading">Our Blog</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex contents content-1">
          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a href="https://www.youtube.com/watch?v=CAQXp2D1LMM"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url(https://i.ytimg.com/vi/CAQXp2D1LMM/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD_aMlrsqEVLfLfmVfSEY__3V9dqQ);">
                  <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                    <span class="fa fa-play day"></span>
                  </div>
                </a>
  
                <h3 class="heading mb-3">
                  <a href="#" data-i18n="blogHeading28">Yemen morning today_ climate change A threat to the economies of countries - Counselor Ahmed Fouad Al-Juhani</a>
                </h3>
  
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a href="https://www.youtube.com/watch?v=B03IlW5ZrS4"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url(https://i.ytimg.com/vi/J4b0eCmiN6c/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_g6AArgIigIMCAAQARhyIFEoLDAP&rs=AOn4CLCL4MwSHO-hqRDQMsYNMuELcM8NJw);">
                  <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                    <span class="fa fa-play day"></span>
                  </div>
                </a>
  
                <h3 class="heading mb-3">
                  <a href="#" data-i18n="blogHeading29">Mubasher Misr - Libyan Elections - Counselor Ahmed Fouad Al-Juhani - Part One
                  </a>
                </h3>
  
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a href="https://www.youtube.com/watch?v=B03IlW5ZrS4"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url(https://i.ytimg.com/vi/J4b0eCmiN6c/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_g6AArgIigIMCAAQARhyIFEoLDAP&rs=AOn4CLCL4MwSHO-hqRDQMsYNMuELcM8NJw);">
                  <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                    <span class="fa fa-play day"></span>
                  </div>
                </a>
  
                <h3 class="heading mb-3">
                  <a href="#" data-i18n="blogHeading30">Mubasher Misr - Libyan Elections - Counselor Ahmed Fouad Al-Juhani - Part Two</a>
                </h3>
  
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a
                  href="https://www.youtube.com/watch?v=KrtewTqOQXA"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url(https://i.ytimg.com/vi/D5A4nIUFZ14/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB1AaAAuADigIMCAAQARhlIF8oWDAP&rs=AOn4CLAlRP8rh9fioCkdfP9wVYjMb9whUA);"
                >
                  <div
                    class="meta text-center mb-2 d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-play day"></span>
                  </div>
                </a>

                <h3 class="heading mb-3">
                  <a href="#" data-i18n="blogHeading4"
                    >Counselor Ahmed Fouad Juhaini program stronger than oblivion with friend Safty Radio Greater Cairo full interview</a
                  >
                </h3>

              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a
                  href="https://vimeo.com/45830194"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url(https://i.ytimg.com/vi/MhNUm8L3Z3w/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCBBk0nNqmDbFK5r3_J9W924FBz1g);"
                >
                  <div
                    class="meta text-center mb-2 d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-play day"></span>
                  </div>
                </a>

                <h3 class="heading mb-3">
                  <a href="https://www.youtube.com/watch?v=D5A4nIUFZ14" data-i18n="blogHeading5"
                    >Ahmed Fouad Al-Juhani and his episode on the role of the Egyptian Dar Al-Ifta in the life of the Egyptian citizen and the jurisprudence of the soldier
                    </a
                  >
                </h3>

              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a
                  href="https://www.youtube.com/watch?v=3lX2vK-oFvA"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url('https://i.ytimg.com/vi/3lX2vK-oFvA/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCeuS9kvs26zaaoFyY1zLG4rKYiOA')">
                  <div
                    class="meta text-center mb-2 d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-play day"></span>
                  </div>
                </a>

                <h3 class="heading mb-3">
                  <a href="#" data-i18n="blogHeading6"
                    >Lawyer Ahmed Al-Juhani clarifies the fact that judges differentiate between men and women with regard to honor crimes
                    </a
                  >
                </h3>

              </div>
            </div>
          </div>
          {% for post in posts %}
          <div class="col-12 col-lg-4 d-flex ftco-animate">
            <div class="blog-entry justify-content-end">
              <div class="text text-center">
                <a
                  href="{{post.link}}"
                  class="block-20 img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url({{post.background_img_link}})">
                  <div
                    class="meta text-center mb-2 d-flex align-items-center justify-content-center"
                  >
                    <span class="fa fa-play day"></span>
                  </div>
                </a>

                <h3 class="heading mb-3">
                  <a href="#" 
                    >{{post.title}}
                    </a
                  >
                </h3>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li class="active button-pagination" data-num="1">
                  <span>1</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
