{% load static %} 
<section class="ftco-section">
    <div class="container">
    <div class="row justify-content-center pb-5">
    <div class="col-md-7 heading-section text-center ftco-animate">
      <span class="subheading" data-i18n="legalServices"
        >Legal Services</span
      >
      <h2 data-i18n="legalServices">Legal Services</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-stats"></span>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-stats"></span>
          </div>
        </div>
        <h2 data-i18n="lawServies2">Incorporation of companies</h2>
        <p data-i18n="lawServiesPara1">
          The company provides company incorporation and registration
          services in Egypt, including preparing the necessary legal
          documents and dealing with the concerned government agencies.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-family"></span>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-family"></span>
          </div>
        </div>
        <h2 data-i18n="lawServies4">Debt collection</h2>
        <p data-i18n="lawServiesPara2">
          The institution is one of the best debt collection offices in
          Egypt, as it cooperates with many international law firms
          outside the region, and cooperates with many bodies specialized
          in collecting commercial debts, whether inside Egypt or within
          the Arab world.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-handcuffs"></span>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-handcuffs"></span>
          </div>
        </div>
        <h2 data-i18n="lawServies3">Licenses</h2>
        <p data-i18n="lawServiesPara3">
          The Corporation assists its customers in obtaining the necessary
          licenses to practice their activity, and these services include
          submitting and following up applications, conducting inspections
          and assisting customers in complying with the laws and
          requirements required for granting licenses.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-stay-home"></span>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-stay-home"></span>
          </div>
        </div>
        <h2 data-i18n="lawServies7">Mergers & Acquisitions</h2>
        <p data-i18n="lawServiesPara4">
          The firm provides mergers and acquisitions services to the
          largest entities, under the supervision of a group of
          specialized lawyers
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-injury"></span>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-injury"></span>
          </div>
        </div>
        <h2 data-i18n="lawServies6">
          Contracting & Construction Contracts
        </h2>
        <p data-i18n="lawServiesPara5">
          The firm provides legal services to major contracting and
          construction companies in Egypt and the Arab world by a group of
          contracting and construction contract lawyers in Egypt. Our
          services include drafting and reviewing contracting and
          construction contracts, as well as subcontracting contracts, in
          addition to conducting tenders and auctions, preparing and
          drafting specifications and providing legal advice in everything
          related to contracting and real estate development at the local
          and international levels.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-auction"></span>
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-auction"></span>
          </div>
        </div>
        <h2 data-i18n="lawServies5">Taxes</h2>
        <p data-i18n="lawServiesPara6">
          The Corporation provides legal services related to taxes,
          including filing appeals and representing clients before courts
          of all degrees, in addition to conducting settlement with
          various tax authorities.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/team.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/team.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies66">Intellectual Property</h2>
        <p data-i18n="lawServiesPara77">
          The Foundation works with several commercial companies regarding
          the registration of their trademarks in Egypt, or the
          registration of patents resulting from their innovation. The
          Foundation also registers industrial designs and plant
          varieties, as well as domain registration.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/litigation.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/litigation.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies77">Litigation</h2>
        <p data-i18n="lawServiesPara88">
          The litigation department is one of the most important sections
          in the institution, as it is responsible for defending our
          clients, whether in the lawsuits they file or in what is filed
          against them, and the institution has the best lawyers in Egypt
          specialized in this field.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/translation.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/translation.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies8">Legal Translation</h2>
        <p data-i18n="lawServiesPara9">
          The institution relies on the best translators and linguists,
          who can provide the best quality in the shortest possible time.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/international.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/international.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies9">
          International Commercial Arbitration
        </h2>
        <p data-i18n="lawServiesPara10">
          Center for Dispute Resolution through International Commercial
          Arbitration
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/contract.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/contract.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies10">Drafting contracts</h2>
        <p data-i18n="lawServiesPara11">
          Our firm is distinguished from other institutions in drafting
          commercial contracts, so we are the best choice for those
          looking for a specialized contract lawyer, whether in Egypt, at
          home or in any country in the world. This is due to the strategy
          pursued by the institution in drafting contracts, in addition to
          the ingredients that make us the undisputed best, and the
          institution has a group of lawyers specialized in drafting
          contracts
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/development.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/development.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies11">Corporate Governance</h2>
        <p data-i18n="lawServiesPara12">
          The company provides company incorporation and registration
          services in Egypt, including preparing the necessary legal
          documents and dealing with the concerned government agencies.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/solar-panels.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/solar-panels.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies12">Energy Sector</h2>
        <p data-i18n="lawServiesPara13">
          The Corporation provides legal services related to the gas and
          petroleum sector, which includes drafting and reviewing
          contracts related to this sector, and the Corporation has
          represented many petroleum companies before international
          arbitration tribunals, and before Egyptian courts of various
          degrees.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/enterprise.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/enterprise.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies13">Property services</h2>
        <p data-i18n="lawServiesPara14">
          The institution provides, through a group of specialized real
          estate lawyers, all legal services related to real estate wealth
          in Egypt, which include contracts for the sale and purchase of
          real estate, as well as its registration before the competent
          authorities, whether the registration is consensual or by force
          of law.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/bank.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/bank.webp' %}"
              class="img-fluid"
              width="100px"
              height="100px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies14">Banking Finance</h2>
        <p data-i18n="lawServiesPara15">
          The firm provides legal advice related to project financing,
          letters of guarantee and credit, and it also has a group of
          academics and bank lawyers specialized in project financing
          matters and letters of guarantee.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/dispute.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/dispute.webp' %}"
              class="img-fluid"
              width="80px"
              height="80px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies15">Labor disputes</h2>
        <p data-i18n="lawServiesPara16">
          We specialize in settling international disputes between
          individuals, companies and institutions from one country to
          another; we represent the link of mutual transactions between
          countries and each other.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/migration.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/migration.webp' %}"
              class="img-fluid"
              width="80px"
              height="80px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies16">
          Foreigners Affairs and Consular Services
        </h2>
        <p data-i18n="lawServiesPara17">
          The Foundation always seeks to serve its customers, whether they
          are Egyptians or foreigners, and therefore the Foundation
          provides services related to foreigners' affairs and consular
          services.
        </p>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
      <div class="services-2 text-center">
        <div class="icon-wrap">
          <div
            class="mini-icon d-flex align-items-center justify-content-center"
          >
            <img
            src="{% static 'images/lawyer.webp' %}"
              class="img-fluid"
              width="29px"
              height="80px"
            />
          </div>
          <div
            class="icon d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'images/lawyer.webp' %}"
              class="img-fluid"
              width="80px"
              height="80px"
            />
          </div>
        </div>
        <h2 data-i18n="lawServies200">
          Training And Qualification Of Lawyers And Legal
    
        </h2>
        <p data-i18n="lawServiesPara200">
          We aim to develop the skills of new and experienced lawyers in various fields of law. We offer theoretical and practical courses covering topics such as judicial procedure, negotiation, arbitration, professional responsibility, and ethics. We help lawyers improve their efficiency and quality of services to clients and society.
        </p>
      </div>
    </div>
    </div>
    </div>
    </section>
