{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <title data-i18n="eljuhany">El Juhany Law Firm </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="el juhany, El Juhany , law firm , LawFirm, lawfirm , ahmed el juhany, Ahmed El Juhany , الجهني , احمد فؤاد الجهني , الجهني للمحامون, مكتب الجهني ">
  <meta name="author" content="el juhany">
  <meta property="og:site_name" content="احمد الجهني" />
  <meta name="og:description" content="مكتب الجهني للمحاماة هو واحد من أكبر مكاتب المحاماة التجارية المتكاملة في مصر والشرق الأوسط. تأسست في عام 1997. هدفنا هو تزويد عملائنا بخدمات عالية الجودة وحلول قانونية مبتكرة في مجالات الأفراد والشركات والتسجيلات.  " />
  <meta property="og:url" content="https://www.juhany-lawfirm.com/" />
  <meta property="facebook:url" content="https://www.facebook.com/ahmdeljohny/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.elmydannews.com/img/9/3/93066.jpg"/>
  <meta property="og:video" content="https://youtu.be/1n_Rv6IldtU?si=P0KjDDa9t2wuosDo"/>

  <meta property="og:title" content="مكتب الجهني للمحامون | El Juhany Law Firm | الجهني للمحامون">
  
  <meta name="description" content="مكتب الجهني للمحاماة هو واحد من أكبر مكاتب المحاماة التجارية المتكاملة في مصر والشرق الأوسط. تأسست في عام 1997. هدفنا هو تزويد عملائنا بخدمات عالية الجودة وحلول قانونية مبتكرة في مجالات الأفراد والشركات والتسجيلات.  " />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

  <meta http-equiv="Pragma" content="no-cache">

  <meta http-equiv="Expires" content="0">

 <link rel="stylesheet"  class="styleLang styleEn"  href="{% static 'css/style.css' %}" >
 <link rel="stylesheet" class="styleLang styleAr"  href="{% static 'css/style-ar.css' %}" disabled >
 <!-------------google fonts------------------------->
 <link rel="preload"   href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"  as="font" onload="this.onload=null;this.rel='stylesheet'">

 <!---------icon broswer tab----------->
 <link rel="icon" type="image/x-icon" href="{% static 'images/Law-logo-design-template-on-transparent-background-PNG-removebg-preview.webp' %}" alt="Al-Juhani-logo">


 <!-------------fontawesome css------------------------->

 <link rel="preload"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  as="font" onload="this.onload=null;this.rel='stylesheet'">
 

 <!-------------animate css------------------------->

 <link rel="stylesheet"    href="{% static 'css/animate.css' %}" >


 <!-------------owl carousel css------------------------->



   <link rel="preload"    href="{% static 'css/owl.carousel.min.css' %}" crossorigin="anonymous" referrerpolicy="no-referrer"   as="style" onload="this.onload=null;this.rel='stylesheet'">



	   <!-------------owl carousel theme css------------------------->
	 <link rel="preload" href="{% static 'css/owl.theme.default.min.css' %}"	 crossorigin="anonymous" referrerpolicy="no-referrer"   as="style" onload="this.onload=null;this.rel='stylesheet'">


 <link rel="preload" href="{% static 'css/magnific-popup.css' %}" crossorigin="anonymous" referrerpolicy="no-referrer" as="style" onload="this.onload=null;this.rel='stylesheet'" />

 <link rel="preload"   href="{% static 'css/flaticon.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
 <link rel="preload" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" as="style" onload="this.onload=null;this.rel='stylesheet'" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

	<!--------------jquery----------------------->
	<script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous" defer></script>

	<!---------jquery migrate---------------->
	<script src="{% static 'js/jquery-migrate.min.js' %}" referrerpolicy="no-referrer" defer></script>

	<!--------------bootstrap 4-------------------->
	<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous" defer></script>

	<!------------jquery easing---------------->
	<script src="{% static 'js/jquery.easing.min.js' %}" referrerpolicy="no-referrer" defer></script>
	<!------------jquery waypoints---------------->
	<script src="{% static 'js/jquery.waypoints.min.js' %}" referrerpolicy="no-referrer" defer></script>
	<!------------jquery stellar---------------->
	<script src="{% static 'js/jquery.stellar.min.js' %}" referrerpolicy="no-referrer" defer></script>

	<!------------owl carousel---------------->
	<script src="{% static 'js/owl.carousel.min.js' %}" referrerpolicy="no-referrer" defer></script>
	<!-------------magnific popup jquery--------------->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}" referrerpolicy="no-referrer" defer></script>

	<!--------scrollmax js--------------->
	<script src="{% static 'js/scrollax.min.js' %}" defer></script>
	<!-------------jquery animate number------------------>
	<script src="{% static 'js/jquery.animateNumber.min.js' %}" defer></script>
	
	<script>
  gtag('config', 'AW-11398503967/NZmjCNH_1vMYEJ-8nbsq', {
    'phone_conversion_number': '201001647862+'
  });
</script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11398503967">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11398503967');
</script>


	

		<script src="{% static 'js/leaflet.js' %}" defer></script>
		<script src="{% static 'js/pagination.js' %}" defer></script>
		<script src="{% static 'js/map.js' %}" defer></script>
  <!-------------main file js----------------->
  <script src="{% static 'js/main.js' %}" defer></script>




  <!--------------app file js-------------------->
  <script src="{% static 'js/app.js' %}" defer></script>

</head>

<body>
{% include 'includes/navbar.html' %}
  
{% block content %}
{% endblock %}
{% include 'includes/footer.html' %}

</body>

</html>
